---
title: Sobre
date: 2016-12-27 23:14:51
layout: page
---

<!-- Sobre -->
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <img class="img-responsive" style="border-radius: 18px;" src="ramon-santos.png" alt="Ramon Santos" />
  </div>
  <div class="col-md-8 col-sm-8 col-xs-12">
    <p>Meu nome é <strong>Ramon Santos</strong>, tenho 27 anos e atualmente moro em Pernambuco.</p>

    <p>Sou bacharel em <strong>Ciência da Computação</strong> pela <strong>Universidade Federal Rural de Pernambuco</strong>, onde participei de várias atividades no ambiente acadêmico, como: <em>monitoria</em>, <em>pesquisa</em>, <em>grupos de estudo</em> e <em>projeto de extensão</em>.</p>

    <p>Tenho interesse em <em>metodologias ágeis</em>, <em>tecnologias mobile</em>, <em>design patterns</em> e <em>computação em nuvem</em>. Sou usuaŕio <strong>Linux</strong> desde 2010 e atualmente o <strong>Fedora</strong> é a minha distribuição favorita.</p>

    <p>Possuo conhecimento em algumas linguagens de programação, como: <strong>Java</strong>, <strong>Python</strong>, <strong>Ruby</strong> e <strong>PHP</strong>. Desenvolvo aplicações nativas na plataforma <strong>Android</strong> com Java e para o desenvolvimento Web, uso o framework <strong>Ruby on Rails</strong> ou o CMS <strong>Joomla</strong>. Durante o desenvolvimento eu adoto práticas como <em>versionamento de código</em> (através do <strong>git</strong>), <em>testes</em> e <em>integração contínua</em>.</p>

    <p>Fora do mundo do desenvolvimento, eu também tenho bastante interesse em <em>astronomia</em>, <em>história</em> e <em>cinema</em>. </p>
  </div>
</div>

<br/>
