---
title: Sobre mim
date: 2016-12-27 23:14:51
layout: page
---



<!-- Sobre -->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 col-sm-12 col-xs-12">
    <p>Meu nome é <strong>Ramon Santos</strong>, tenho 28 anos e atualmente moro em Pernambuco.</p>

    <p>Eu sou desenvolvedor Web Full Stack e Android Nativo. Sou entusiasta de software livre e usuário Linux desde 2010, sendo que minha distro preferido é o <strong>Fedora</strong>. Amo trabalhar em equipe e bater aquele papo nerd durante a pausa do café. Estou sempre estudando e experimentando novas tecnologias (linguagens, frameworks, ferramentas, design patterns e etc). </p>

    <p>Sou bacharel em <strong>Ciência da Computação</strong> pela Universidade Federal Rural de Pernambuco, onde participei de várias atividades no ambiente acadêmico, como: monitoria, pesquisa, grupos de estudo e projeto de extensão.</p>

    <p>Atualmente trabalho com desenvolvimento web na plataforma <strong>Java EE</strong>. Tenho interesse em metodologias ágeis, testes automatizados, computação em nuvem, DevOps, arquitetura em microserviços e otimização de aplicações web.</p>

    <h2>Habilidades</h2>
    <ul>
      <li class="li-skill">
        Java (JPA/Hibernate, JSF, JSP, JavaFX, Spring e JUnit);
      </li>
      <li class="li-skill">
        Android (Android SDK e Android Studio);
      </li>
      <li class="li-skill">
        Python (NumPy, SciPy e PyGTK);
      </li>
      <li class="li-skill">
        Ruby (Ruby on Rails e Minitest);
      </li>
      <li class="li-skill">
        JavaScript;
      </li>
      <li class="li-skill">
        HTML (Erb e Ejs);
      </li>
      <li class="li-skill">
        CSS (Bootstrap, Materialize, Sass, Less, Stylus);
      </li>
      <li class="li-skill">
        PHP (Joomla);
      </li>
      <li class="li-skill">
        Linux (Fedora, CentOS, Ubuntu e Ubuntu Server);
      </li>
      <li class="li-skill">
        SQL (MySQL, SQLite e PostgreSQL);
      </li>
      <li class="li-skill">
        Git (Github, Bitbucket e Gitlab);
      </li>
      <li class="li-skill">
        LaTeX.
      </li>
    </ul>

  </div>
  <div class="col-md-2"></div>
</div>

<br/>
