---
title: Sobre
date: 2016-12-27 23:14:51
layout: page
---

<!-- Sobre -->
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <img class="img-responsive" style="border-radius: 18px;" src="profile.png" alt="" />
  </div>
  <div class="col-md-8 col-sm-8 col-xs-12">
    <p>Meu nome é Ramon Santos, tenho 27 anos, sou casado e atualmente moro em Pernambuco.</p>

    <p>Sou bacharel em Ciência da Computação pela Universidade Federal Rural de Pernambuco, onde participei de várias atividades no ambiente acadêmico, como: monitoria, pesquisa, grupos de estudo e projeto de extensão.</p>

    <p>Tenho interesse em metodologias ágeis, tecnologias mobile, design patterns e computação em nuvem. Sou usuaŕio Linux desde 2010 e atualmente o Fedora é a minha distribuição favorita.</p>

    <p>Possuo conhecimento em algumas linguagens de programação, como: Java, Python, Ruby e PHP. Desenvolvo aplicações nativas na plataforma Android com Java e para o desenvolvimento Web, uso o framework Ruby on Rails ou o CMS Joomla. Durante o desenvolvimento eu adoto práticas como versionamento de código (através do git), testes e integração contínua.</p>

    <p>Fora do mundo do desenvolvimento, eu também tenho bastante interesse em astronomia, história e cinema. </p>
  </div>
</div>

<br/>
